<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CHSTRAS_091_UI.Properties.Settings.SHFDB_V07_01ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\Liu Bing\Documents\Visual Studio 2010\Projects\CHSTRAS_091\SHFDB\SHFDB_V07.01.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>